/* TYPOGRAPHY */

html {
  font: 100%/1.5 "Fedra Sans Screen Regular", helvetica, arial, sans-serif;
  text-rendering: geometricPrecision;
  -webkit-text-size-adjust: 100%;
}
h1, h2, h3, h4 {
  font-family: "Charlie SemiBold", helvetica, arial, sans-serif;
  font-weight: bold;
}

b,
em strong,
th {
  font-family: "Fedra Sans Screen Bold", helvetica, arial, sans-serif;
  font-weight: bold;
  font-style: normal;
}

em, i, footer ul:not(.details) li, q, caption, cite {
  font-family: "Fedra Sans Screen Italic", helvetica, arial, sans-serif;
  font-style: italic;
}

strong {
  font-family: "Fedra Sans Screen Bold Italic", helvetica, arial, sans-serif;
  font-style: italic;
  font-weight: bold;
}

code, pre, kbd, td.num {
  font-family: "Fedra Mono Screen Regular", monospace;
  font-weight: normal !important;
  font-style: normal !important;
}

h1, h2, h3, p, pre {
	max-width: 30em;
}
pre {
	display: none;
}
ul {
	margin: 1em 0;
	padding: 0;
}
p {
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
	        hyphens: auto;
}


/* LAYOUT */
html {
	background: rebeccapurple;
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}
body {
	margin: 0 auto;
	padding: 11.11111vh 0 22.2222vh;
	background: white;
	min-height: 100vh;
	-webkit-transition: background .3s;
	        transition: background .3s;
}
h1::after {
	content: 'less than octave';
}
html:target body {
	background: white url(complete-octavoformat.svg) no-repeat 100% 0;
	background-size: 200% 100vh;
}
div {
	padding: 0 11.1111%;
}
div > main {
	margin: 0 0 11.1111vh;
}
html:target div > main,
html:target aside {
	background: hsla(0,50%,50%,.5);
	-webkit-transition: background .3s;
	        transition: background .3s;
}



@media (min-aspect-ratio: 1/2) {
	body {
		width: 50vh;
	}
	h1::after {
		content: 'octave';
	}
}
@media (min-aspect-ratio: 1000/1924) {
	body {
		width: 51.975052vh;
	}
	h1::after {
		content: 'tall octagon';
	}
}
@media (min-aspect-ratio: 8/15) {
	body {
		width: 53.3333vh;
	}
	h1::after {
		content: 'major seventh';
	}
}
@media (min-aspect-ratio: 1000/1866) {
	body {
		width: 53.5905681vh;
	}
	h1::after {
		content: 'tall hexagon';
	}
}
@media (min-aspect-ratio: 1000/1848) {
	body {
		width: 54.1125541vh;
	}
	h1::after {
		content: 'octagon';
	}
}
@media (min-aspect-ratio: 5/9) {
	body {
		width: 55.55556vh;
	}
	h1::after {
		content: '5/9';
	}
}
@media (min-aspect-ratio: 9/16) {
	body {
		width: 56.25vh;
	}
	h1::after {
		content: 'Major seventh';
	}
}
@media (min-aspect-ratio: 1000/1732) {
	body {
		width: 57.7367206vh;
	}
	h1::after {
		content: 'Hexagon';
	}
}
@media (min-aspect-ratio: 1000/1701) {
	body {
		width: 58.7889477vh;
	}
	h1::after {
		content: 'Tall Pentagon';
	}
}
@media (min-aspect-ratio: 3/5) {
	body {
		width: 60vh;
	}
	h1::after {
		content: 'Major Sixth';
	}
}
@media (min-aspect-ratio: 1000/1647) {
	body {
		width: 60.7164542vh;
	}
	h1::after {
		content: 'Legal Sheet';
	}
}
@media (min-aspect-ratio: 1000/1618) {
	body {
		width: 61.8046972vh;
	}
	h1::after {
		content: 'Golden Section';
	}
}
@media (min-aspect-ratio: 5/8) {
	body {
		width: 62.5vh;
	}
	h1::after {
		content: 'Minor Sixth';
	}
}
@media (min-aspect-ratio: 1000/1539) {
	body {
		width: 64.977258vh;
	}
	h1::after {
		content: 'Pentagon';
	}
}
@media (min-aspect-ratio: 2/3) {
	body {
		width: 66.6667vh;
	}
	h1::after {
		content: 'Fifth';
	}
}
@media (min-aspect-ratio: 1000/1414) {
	body {
		width: 70.7213579vh;
	}
	h1::after {
		content: 'ISO = 1 : √2';
	}
}
@media (min-aspect-ratio: 5/7) {
	body {
		width: 71.4285714vh;
	}
	h1::after {
		content: '5:7';
	}
}
@media (min-aspect-ratio: 1000/1376) {
	body {
		width: 72.6744186vh;
	}
	h1::after {
		content: 'Short Pentagon';
	}
}
@media (min-aspect-ratio: 3/4) {
	body {
		width: 75vh;
	}
	h1::after {
		content: 'Fourth';
	}
}
@media (min-aspect-ratio: 1000/1307) {
	body {
		width: 76.5110941vh;
	}
	h1::after {
		content: 'Tall Half octagon';
	}
}
@media (min-aspect-ratio: 1000/1295) {
	body {
		width: 77.2797527vh;
	}
	h1::after {
		content: 'Letter Sheet';
	}
}
@media (min-aspect-ratio: 4/5) {
	body {
		width: 80vh;
	}
	h1::after {
		content: 'Major Third';
	}
}
@media (min-aspect-ratio: 1000/1207) {
	body {
		width: 82.8500414vh;
	}
	h1::after {
		content: 'Half octagon';
	}
}
@media (min-aspect-ratio: 5/6) {
	body {
		width: 83.3333vh;
	}
	h1::after {
		content: 'Minor Third';
	}
}
@media (min-aspect-ratio: 1000/1176) {
	body {
		width: 85.0340136vh;
	}
	h1::after {
		content: 'Truncated Pentagon';
	}
}
@media (min-aspect-ratio: 6/7) {
	body {
		width: 85.7142857vh;
	}
	h1::after {
		content: '6:7';
	}
}
@media (min-aspect-ratio: 1000/1156) {
	body {
		width: 86.5051903vh;
	}
	h1::after {
		content: 'e:π';
	}
}
@media (min-aspect-ratio: 1000/1155) {
	body {
		width: 86.5800866vh;
	}
	h1::after {
		content: 'Turned Hexagon';
	}
}
@media (min-aspect-ratio: 8/9) {
	body {
		width: 88.8889vh;
	}
	h1::after {
		content: 'Major second';
	}
}
@media (min-aspect-ratio: 1000/1082) {
	body {
		width: 92.4214418vh;
	}
	h1::after {
		content: 'Tall cross octagon';
	}
}
@media (min-aspect-ratio: 15/16) {
	body {
		width: 93.75vh;
	}
	h1::after {
		content: 'Minor second';
	}
}
@media (min-aspect-ratio: 1000/1051) {
	body {
		width: 95.1474786vh;
	}
	h1::after {
		content: 'Turned Pentagon';
	}
}
@media (min-aspect-ratio: 1/1) {
	body {
		width: 100vh;
	}
	html:target body {
		background-size: 100% 100vh;
	}
	h1::after {
		content: 'Square';
	}
}
@media (min-aspect-ratio: 1051/1000) {
	body {
		width: 105.1vh;
	}
	h1::after {
		content: 'Turned Pentagon';
	}
}
@media (min-aspect-ratio: 1000/951) {
	body {
		width: 105.1524711vh;
	}
	h1::after {
		content: 'Broad Pentagon';
	}
}
@media (min-aspect-ratio: 1000/924) {
	body {
		width: 108.2251082vh;
	}
	h1::after {
		content: 'Broad cross octagon';
	}
}
@media (min-aspect-ratio: 16/15) {
	body {
		width: 106.6666667vh;
	}
	h1::after {
		content: 'Minor second';
	}
}
@media (min-aspect-ratio: 1082/1000) {
	body {
		width: 108.2vh;
	}
	h1::after {
		content: 'Tall cross octagon';
	}
}
@media (min-aspect-ratio: 9/8) {
	body {
		width: 112.5vh;
	}
	h1::after {
		content: 'Major second';
	}
}
@media (min-aspect-ratio: 1000/866) {
	body {
		width: 115.4734411vh;
	}
	h1::after {
		content: 'Broad hexagon';
	}
}
@media (min-aspect-ratio: 7/6) {
	body {
		width: 116.6666667vh;
	}
	h1::after {
		content: '7:6';
	}
}
@media (min-aspect-ratio: 1176/1000) {
	body {
		width: 117.6vh;
	}
	h1::after {
		content: 'Truncated Pentagon';
	}
}
@media (min-aspect-ratio: 6/5) {
	body {
		width: 120vh;
	}
	h1::after {
		content: 'Minor Third';
	}
}
@media (min-aspect-ratio: 1000/829) {
	body {
		width: 120.6272618vh;
	}
	h1::after {
		content: 'Full cross octagon';
	}
}
@media (min-aspect-ratio: 1207/1000) {
	body {
		width: 120.7vh;
	}
	h1::after {
		content: 'Half octagon';
	}
}
@media (min-aspect-ratio: 5/4) {
	body {
		width: 125vh;
	}
	h1::after {
		content: 'Major Third';
	}
}
@media (min-aspect-ratio: 1000/773) {
	body {
		width: 129.3661061vh;
	}
	h1::after {
		content: 'Landscape Letter';
	}
}
@media (min-aspect-ratio: 1307/1000) {
	body {
		width: 130.7vh;
	}
	h1::after {
		content: 'Tall Half octagon';
	}
}
@media (min-aspect-ratio: 4/3) {
	body {
		width: 133.3333333vh;
	}
	h1::after {
		content: 'Fourth';
	}
}
@media (min-aspect-ratio: 1376/1000) {
	body {
		width: 137.6vh;
	}
	h1::after {
		content: 'Short Pentagon';
	}
}
@media (min-aspect-ratio: 7/5) {
	body {
		width: 140vh;
	}
	h1::after {
		content: '7:5';
	}
}
@media (min-aspect-ratio: 1414/1000) {
	body {
		width: 141.4vh;
	}
	h1::after {
		content: 'ISO = 1 : √2';
	}
}
@media (min-aspect-ratio: 3/2) {
	body {
		width: 150vh;
	}
	h1::after {
		content: 'Fifth';
	}
}
@media (min-aspect-ratio: 1539/1000) {
	body {
		width: 153.9vh;
	}
	h1::after {
		content: 'Pentagon';
	}
}
@media (min-aspect-ratio: 8/5) {
	body {
		width: 160vh;
	}
	h1::after {
		content: 'Minor Sixth';
	}
}
@media (min-aspect-ratio: 1618/1000) {
	body {
		width: 161.8vh;
	}
	h1::after {
		content: 'Golden Section';
	}
}
@media (min-aspect-ratio: 1647/1000) {
	body {
		width: 164.7vh;
	}
	h1::after {
		content: 'Legal Sheet';
	}
}
@media (min-aspect-ratio: 5/3) {
	body {
		width: 166.6666667vh;
	}
	h1::after {
		content: 'Major Sixth';
	}
}
@media (min-aspect-ratio: 1701/1000) {
	body {
		width: 170.1vh;
	}
	h1::after {
		content: 'Tall Pentagon';
	}
}
@media (min-aspect-ratio: 1732/1000) {
	body {
		width: 173.2vh;
	}
	h1::after {
		content: 'Hexagon';
	}
}
@media (min-aspect-ratio: 16/9) {
	body {
		width: 177.7777778vh;
	}
	h1::after {
		content: 'Major seventh';
	}
}
@media (min-aspect-ratio: 9/5) {
	body {
		width: 180vh;
	}
	h1::after {
		content: '9:5';
	}
}
@media (min-aspect-ratio: 1848/1000) {
	body {
		width: 184.8vh;
	}
	h1::after {
		content: 'octagon';
	}
}
@media (min-aspect-ratio: 1866/1000) {
	body {
		width: 186.6vh;
	}
	h1::after {
		content: 'tall hexagon';
	}
}
@media (min-aspect-ratio: 15/8) {
	body {
		width: 187.5vh;
	}
	h1::after {
		content: 'major seventh';
	}
}
@media (min-aspect-ratio: 1924/1000) {
	body {
		width: 192.4vh;
	}
	h1::after {
		content: 'tall octagon';
	}
}
@media (min-aspect-ratio: 2/1) {
	body {
		width: 200vh;
	}
	h1::after {
		content: 'octave';
	}
}


@media (min-aspect-ratio: 4/3) and (min-height: 40em),
	   (min-aspect-ratio: 3/2) and (min-height: 30em) {
	body > div {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding: 0;
	}
	div > main {
		-webkit-flex-basis: 38.8888%;
		    -ms-flex-preferred-size: 38.8888%;
		        flex-basis: 38.8888%;
		margin: 0;
	}
	aside {
		-webkit-flex-basis: 27.7775%;
		    -ms-flex-preferred-size: 27.7775%;
		        flex-basis: 27.7775%;
		margin-left: 11.1111%
	}
}

h1,
aside > h2 {
	margin-top: 0;
}

.toggle-buttons {
	list-style: none;
}
.toggle-buttons a {
	display: inline-block;
	background: grey;
	padding: .2em .5em;
	border-radius: .3em;
	color: white;
	text-decoration: none;
}
.toggle-buttons li:first-child,
html:target .toggle-buttons li:last-child {
	display: none;
}
html:target .toggle-buttons li:first-child {
	display: block;
}
